@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.infoUtilPadre{
    background-color: #b8b099;
    display: flex;
  }
  #boxes{
    width:100%;
    margin:auto;
    text-align: center;
    vertical-align: middle;
  }
  
  .box{
    width:100%;
    height: 70px;
    margin:2%;
    /* display:inline-block; */
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
  }

  .box h3 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  
  svg {
      stroke: #000;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      text-align: center;
    }
  
    .path {
      text-align: center;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards;
    }
    
    @keyframes dash {
      from {
          stroke-dashoffset: 1000;
        }
      to {
        stroke-dashoffset: 0;
      }
    }

  #infoUtilCuadro {
    width: 50%;
  }
    
  #infoUtilTexto {
    width: 50%;
  }
/* body {}
/*GRILLA CALCULADORA*/
  /* body .grilla { 
    display: grid;
    grid-template-areas: "header header" "section1 section " "section2 section3 " "section5 section4 " "section6 section7 " "footer footer ";
    grid-template-rows: auto 500px 500px 500px 500px auto;
    grid-template-columns: 1fr 1fr; } */
  #montanaCuadro {
    width: 18rem;
  }
  body #montana {
    width: auto;
    display: flex;
    flex-direction: column;
    /*column, hay mas*/
    flex-wrap: nowrap;
    grid-area: section;
    text-align: center;
    margin: 0px auto;
    /*centra la section dentro de la grilla*/
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px; }
  body #imagenMontana1 {
    width: auto;
    grid-area: section1;
    text-align: center;
    margin: 0px auto; }
  body #montana2 {
    width: auto;
    display: flex;
    flex-direction: column;
    /*column, hay mas*/
    flex-wrap: nowrap;
    grid-area: section2;
    text-align: center;
    margin: 0px auto;
    margin-left: 40px;
    margin-right: 40px; }
  body #imagenMontana2 {
    width: auto;
    grid-area: section3;
    text-align: center;
    margin: 0px auto; }
  body #montana3 {
    width: auto;
    display: flex;
    grid-area: section4;
    flex-direction: column;
    /*column, hay mas*/
    flex-wrap: nowrap;
    text-align: center;
    padding-top: 80px;
    margin: 0px auto;
    margin-left: 80px;
    margin-right: 80px; }
  body #imagenMontana3 {
    width: auto;
    grid-area: section5;
    text-align: center;
    margin: 0px auto; }
  body #montana3 {
    width: auto;
    display: flex;
    grid-area: section6;
    flex-direction: column;
    /*column, hay mas*/
    flex-wrap: nowrap;
    text-align: center;
    padding-top: 80px;
    margin: 0px auto;
    margin-left: 40px;
    margin-right: 40px; }
  body #imagenMontana4 {
    width: auto;
    grid-area: section7;
    text-align: center;
    margin: 0px auto; }
  body .fondo {
    /* grid-area: presentacion; */
    width: auto;
    height: 700px;
    background-image: url("/calculadoraMontana_DiPaola/img/fondoMontana.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    max-width: 100%;
    position: relative; }
    body .fondo .header {
      grid-area: header;}
      body .fondo .header nav.navbar.navbar-expand-lg.navbar-light {
        background-color: rgba(96, 99, 117, 0.705);
        font-family: "Kaushan_Script"; }
  body .header {
    grid-area: header;
    position: sticky;
    /*no funciona, averiguar porque o como hacerlo desde una clase de bootstrap*/ }
    body .header nav.navbar.navbar-expand-lg.navbar-light {
      background-color: rgba(52, 58, 63, 0.705);
      font-family: "Kaushan_Script"; }
  /* body main { }*/
    body main .presentacion {
      padding: 70px;
      background-color: rgba(84, 96, 112, 0.788); }
      body main .presentacion p {
        text-align: center;
        font-size: 20px;
        padding: 40px;
        margin: 30px; }
    body main .fondoMain {
      width: auto;
      height: 950px;
      background-image: url("/calculadoraMontana_DiPaola/img/fondoRelieve.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 25rem;
      max-width: 100%;
      position: relative; }
      body main .fondoMain h2 {
        text-align: center;
        font-size: 40px;
        padding: 30px;
        color: #f5ecec; }
    body main .infoUtil {
      background-color: #b8b099;
      text-align: center;
      padding: 30px;
      margin: 0px; }
      body main .infoUtil h1, body main .infoUtil h2, body main .infoUtil p {
        padding: 3px; }
  body .container .text-center-header {
    background-color: rgba(157, 202, 223, 0.788);
    text-align: center;
    font-size: 27px;
    padding: 12px; }
  body .container .form-control {
    font-size: 15px;
    color: #36A0FF;
    padding: 10px;
    width: 100%; }
  body .container .form-group {
    text-align: center; }
    body .container .form-group .btn-primary {
      text-align: center;
      margin: 10px;
      padding: 20px;
      width: 40%; }
  body aside {
    box-sizing: content-box;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch; }
  body .caracteristica {
    width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 30px; }
    body .caracteristica p {
      padding: 10px; }
    body .caracteristica h2:hover {
      color: rgba(50, 51, 56, 0.233);
      border-radius: 20px;
      transform: scale(1.1, 1.1); }
  body .separador {
    background-color: rgba(84, 88, 143, 0.438);
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px; }
  body .footer {
    grid-area: footer;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    }
    body .footer p {
      text-align: center;
      padding: 10px; }

h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif; }

/*tipografía sólo del título/logo*/
@font-face {
  font-family: "Kaushan_Script";
  src: url("./Kaushan_Script/KaushanScript-Regular.ttf"); }

/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
 .infoUtilPadre{
    display: inline-block;
  }

  #infoUtilCuadro {
    width: 100%;
  }
    
  #infoUtilTexto {
    width: 100%;
  }
  main .presentacion {
    padding: 40px;
    margin: 10px; }
    main .presentacion p {
      text-align: center;
      font-size: 20px;
      padding: 30px; }
  aside {
    box-sizing: content-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  body .grilla { /*grilla calculadora*/
    display: grid;
    grid-template-areas: "header" "section" "section1 " "section2 " "section3 " "section4 " "section5 " "section6 " "section7 " "footer";
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 100%; }
    body .grilla .montana {
      width: auto;
      display: flex;
      flex-direction: column;
      /*column, hay mas*/
      flex-wrap: nowrap;
      grid-area: section;
      text-align: center;
      margin: 0px;
      /*centra la section dentro de la grilla*/ }
  .caracteristica {
    width: 300px;
    height: auto;
    margin: 0px;
    text-align: center;
    padding: 10px; } }
